body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  background-color: #1f2937;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px hsl(40, 88%, 68%) solid;
  font-weight: bold;
  color: hsl(40, 88%, 68%);
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 600px;
  border: 3px solid rgb(28, 27, 28);
  border-radius: 20px;
  background-color: #2b313b;
  box-shadow: rgb(28, 27, 28) 0px 6px;
  padding: 10px;
  margin: auto;
}


.calc-header {
  font-weight: bold;
  text-align: end;
  padding: 10px;
  color: #1c121a;
  border: #1c121a 2px solid;
  border-radius: 10px;
  background-color: hsla(40, 88%, 68%, 0.894);
}

.calc-model {
  font-size: 20px;
  text-align: end;
  color: #1c121a;
  border-bottom: 0.5px #1c121a solid;
  margin: 6px 0px 10px;
}

.display {
  height: 100px;
  border: 2px solid rgb(28, 27, 28) solid;
  border-radius: 8px;
  background-color: #A4B4CD;
  box-shadow: inset 0px 2px 3px 2px;
}

.upper-display {
  height: 30px;
  font-size: 20px;

}

.main-display {
  height: 70px;
  font-size: 40px;
}

.upper-display,
.main-display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;
  color: #1c121a;
}


















footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  color: #e5e7eb;
}

footer a {
  color: #3882f6;
  text-decoration: none;
  transition: color 0.2s ease;
  margin-bottom: 0;
}

footer a:hover {
  color: #21a1f1;
  text-decoration: underline;
}




